body {
    font-family: "Marcellus SC", serif;
};
.header {
    background-image: url("./837d0f4cb435a85f3ff2dedb219fa2c4--summer-kitchen-secret-service.jpg");
    background-repeat: no-repeat;
    height: 400px;
    color: white;
    padding: 30px;
    font-family: "Marcellus", serif;
    text-shadow: 1px 1px #2b2b2a;
};
.lead {
    padding-left: 40px;
    font-size: 1.5em;
};
.card-header {
    background-color: #797978;
    color: white;
};
.card-body {
    background-color: #d6d6d1;
};
.card {
    border: 1px solid #2b2b2a;
};